#button{
  background-color: gray; /
 border: none;
 color: white;
 padding: 13 x 22px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 19px;
}
div.dice{
  float: left;
  width: 50px;
  background: white;
  border: #95 20px solid;
  font-size: 20px;
  text-align: justify;
  margin: 5px;

}
